.navbar {
    background: #152F4F; 
    background: linear-gradient(to right, #661759, #0c1360);
    color:white;   
}
.navbar h2{
    color: white;
}
.navbar a {
    color: white;
    font-size: 20px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 
.navbar-toggler {
    border-color: rgb(237, 230, 235);
} 
.footer {
    background: #152F4F;
    background: linear-gradient(to right, #661759, #0c1360);
    color:white;
}   
.footer-links ul{
    list-style-type: none
}
.footer-links ul li a {
    color: white;
}
.footer-links ul li a:hover {
    text-decoration:underline;
    color:#ea78c9;
}  
#copyright{
    border-top:1px solid rgba(255,255,255,.1); 
    margin: auto;
}
.location .mt-sm-4{
    margin-top: 10px;
}