a {
  cursor: default;
}

.text-primary {
  color: #0095f6;
}

/* .register_form {
  width: 350px;
  margin: 20px auto;
  min-height: 200px;
  border: 1px solid #f3f3f3;
} */

/* .register_form .inner-warpper {
  padding: 50px 30px 50px;
  box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
} */


#Register_Form {
  width: 350px;
  height: 830px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
}

.logo h1 {
  size: 100px;
  margin-bottom: 35px;
  margin-top: 45px;
  font-size: 45px ;
  background: -webkit-linear-gradient(10deg, #0095f6, #ff6ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  color: #8e8e8e;
  margin-bottom: 35px;
}

/* .register_form .input-group {
  position: relative;
  margin-bottom: 20px;
} */
.register_form .input-group input {
  width: 270px;
  height: 40px;
  margin: 3px auto;
  padding: 0 10px;
  display: block;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  font-size: 14px;
}

.register_form .input-group #emailVerification {
  width: 270px;
  margin: 3px auto;
  text-align: left;
  /* margin-left: -14px; */
  /* padding: 0 10px; */
  /* display: block; */
  /* background-color: #ffffff; */
  /* border: 1px solid #DBDBDB; */
  /* border-radius: 3px; */
  /* font-size: 10px; */
}
.register_form .input-group #pwCheck1 {
  width: 270px;
  margin: 3px auto;
  text-align: left;
  /* margin-left: -43px; */
}
.register_form .input-group #pwCheck2 {
  width: 270px;
  margin: 3px auto;
  text-align: left;
  /* margin-left: -14px; */
  /* margin-left: -23px; */
}
.register_form .input-group #fnameCheck {
  width: 270px;
  margin: 3px auto;
  text-align: left;
  /* margin-left: -18px; */
}
.register_form .input-group #lnameCheck {
  width: 270px;
  margin: 3px auto;
  text-align: left;
  /* margin-left: -18px; */
}

.status-success {
  color: green;
}
.status-error {
  color: red;
}

.register_btn {
  width: 268px;
  height: 30px;
  margin-top: 10px;
  margin: 13px auto;
  background-color: #0095f6;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.register_btn :enabled:hover {
  cursor: pointer;
}
.register_btn :focus {
  outline: none;
}

.reset_btn {
  width: 268px;
  height: 30px;
  /* margin: 13px auto; */
  margin-bottom: 20px;
  background-color: #0095f6;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.reset_btn :enabled:hover {
  cursor: pointer;
}
.reset_btn :focus {
  outline: none;
}

.register_form .login-wrapper {
  padding: 18px;
  font-size: 14px;
  /* background: #fafafa; */
}
.register_form .login-wrapper a {
  text-decoration: none;
  color: #282828;
}
.register_form .login-wrapper span {
  text-decoration: solid;
  color: #0095f6;
}
.register_form .login-wrapper span:hover {
  text-decoration: underline;
}




/* .register_form .login-wrapper {
  padding: 18px;
  font-size: 14px;
}
.register_form .login-wrapper a {
  text-decoration: none;
  color: #282828;
}
.register_form .login-wrapper span {
  text-decoration: solid;
  color: #0095f6;
}
.register_form .login-wrapper span:hover {
  text-decoration: underline;
} */